<h3> Список всех статей </h3>

<P> <% @articles.each do |item| %>
<%= item.title %>
    </br>
 <span >   <%= item.created_at %> </span>
    </br>
<% end %>
</P>

<button type="button" onclick="<%= articles_path %>"> Создать статью </button>