<h1> <%= t('contacts.contact_us') %> </h1>

<div>
  <p>
    <% @contacts.each do |item| %>
      <i> <%= item.email %>: </i>
      <%= item.message %>
      <br/>
      <hr>
    <% end %>

    <!--ссылки лучше вставлять вот в таком виде-->
    <%= link_to "Создать нового ", new_contact_path %> |
    <hr>
     <hr>
    </div>
